$primary-text: #555;
$primary-background: #fff;
$secondary-background: #eee;
$primary-colour: #6453a6;
$primary-colour-light: #846fd9d6;

// Font sizing
$fs-s: 16px;
$fs-m: 20px;
$fs-l: 56px;
$fs-xl: 72px;

// Margin
$container-margin: 120px;