<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %> | Menu</title>
    <link rel="shortcut icon" class="logo-img" src="./logo.svg" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="title">
          <div class="branding">
            <img class="logo-img" alt="Logo" />
            <h1><%= htmlWebpackPlugin.options.title %></h1>
          </div>
          <p>Taste the flavours of the world.</p>
        </div>
        <nav>
          <a href="./index.html"><button>Home</button></a>
          <a href="#" class="current"><button>Menu</button></a>
          <a href="./contact.html"><button>Contact</button></a>
        </nav>
      </div>
    </header>
    <div id="content">
      <main id="menu">
        <div class="container">
          <div class="boxes">
            <div class="box">
              <img
                id="menu-1"
                src="./menu-1.jpg"
                alt="Rice with zucchini and soft boiled egg"
              />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Rice with zucchini, soft boiled egg, and parsley.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£24</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-2" src="./menu-2.jpg" alt="BBQ Prawns" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">BBQ Prawns with mixed leaves salad.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£13</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-3" src="./menu-3.jpg" alt="English breakfast" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Traditional English Breakfast Spread.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£27</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-4" src="./menu-4.jpg" alt="Pasta Alfredo" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Wild Vegetable Pasta Alfredo.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£17</span>
              </div>
            </div>
            <div class="box">
              <img
                id="menu-5"
                src="./menu-5.jpg"
                alt="Double beef cheese burger"
              />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Mega Double Beef Cheeseburger.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£15</span>
              </div>
            </div>
            <div class="box">
              <img
                id="menu-6"
                src="./menu-6.jpg"
                alt="Grilled chicken and salad"
              />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Grilled Chicken with Salad.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£29</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-7" src="./menu-7.jpg" alt="Vegetable noodle soup" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Assorted Vegetable Noodle Soup for Two.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£36</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-8" src="./menu-8.jpg" alt="Salmon and soup" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Salmon Platter and Peanut Soup Combo.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£26</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-9" src="./menu-9.jpg" alt="Pancakes" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Stacked Pancakes with Caramel and Chocolate Drizzle Topped
                  with Fruit.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£13</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-10" src="./menu-10.jpg" alt="Assorted food bowls" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Assorted Bowls for Two with Special Drinks.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£38</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-11" src="./menu-11.jpg" alt="Salad" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Juicy House Salad with Bacon served with Naan.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£14</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-12" src="./menu-12.jpg" alt="Chocolate cake" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Chocolate Cake Slice with Double Chocolate Drizzle.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£12</span>
              </div>
            </div>
            <div class="box">
              <img
                id="menu-13"
                src="./menu-13.jpg"
                alt="Avocado Ham Bacon Cheese Melt with Egg"
              />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Avocado Ham Bacon Cheese Melt with Egg.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£12</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-14" src="./menu-14.jpg" alt="Bento box" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">
                  Bento Box with Assorted Sushi, Salmon and Salad.
                </p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£26</span>
              </div>
            </div>
            <div class="box">
              <img
                id="menu-15"
                src="./menu-15.jpg"
                alt="Assorted japanese finger food"
              />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Assorted Japanese Finger Food.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£24</span>
              </div>
            </div>
            <div class="box">
              <img id="menu-16" src="./menu-16.jpg" alt="Braised beef salad" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p class="heading">Braised Beef Salad.</p>
                <p>
                  This succulent tasty meal will warm you up, melt on your
                  tongue and make you feel amazing.
                </p>
                <span>£27</span>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="container">
        <p>
          Copyright © 2022 by
          <a href="https://github.com/worthyag" target="_blank"
            >Worthy
            <img class="github" src="./github-icon.svg" alt="Github icon"
          /></a>
        </p>
      </div>
    </footer>
  </body>
</html>
