<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" class="logo-img" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="title">
          <div class="branding">
            <img class="logo-img" alt="Logo" />
            <h1><%= htmlWebpackPlugin.options.title %></h1>
          </div>
          <p>Taste the flavours of the world.</p>
        </div>
        <nav>
          <a href="#" class="current"><button>Home</button></a>
          <a href="./menu.html"><button>Menu</button></a>
          <a href="./contact.html"><button>Contact</button></a>
        </nav>
      </div>
    </header>
    <div id="content">
      <main id="index">
        <div class="container">
          <div class="boxes">
            <div class="box">
              <img id="box-1" alt="Wrap" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>Get the best foods from all over the world, in ONE place.</p>
              </div>
            </div>
            <div class="box">
              <img id="box-2" alt="Soup" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus cum ducimus illum odio non necessitatibus minima
                  nostrum ratione quisquam animi?
                </p>
              </div>
            </div>
            <div class="box">
              <img id="box-3" alt="Burger and chips" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus cum ducimus illum odio non necessitatibus minima
                  nostrum ratione quisquam animi?
                </p>
              </div>
            </div>
            <div class="box">
              <img id="box-4" alt="Pizzas" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus cum ducimus illum odio non necessitatibus minima
                  nostrum ratione quisquam animi?
                </p>
              </div>
            </div>
            <div class="box">
              <img id="box-5" alt="Chicken and spinach" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus cum ducimus illum odio non necessitatibus minima
                  nostrum ratione quisquam animi?
                </p>
              </div>
            </div>
            <div class="box">
              <img id="box-6" alt="Fruit smoothie bowl" />
              <div class="description">
                <img class="logo-white-img" alt="Logo" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus cum ducimus illum odio non necessitatibus minima
                  nostrum ratione quisquam animi?
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class="container">
        <p>
          Copyright © 2022 by
          <a href="https://github.com/worthyag" target="_blank"
            >Worthy <img id="github" alt="Github icon"
          /></a>
        </p>
      </div>
    </footer>
  </body>
</html>
